.my-container {
  max-width: 400px !important;
}
.progress {
  margin: 30px 0;
  background-color: #8c71b977;
}

.error {
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.055);
  display: block;
  padding: 10px;
  margin: 5px;
}

.progress .indeterminate {
  background-color: #673ab7;
}

input:focus {
  border-bottom: 2px solid #673ab7 !important;
  box-shadow: none !important;
}
